<!DOCTYPE html>
<html>
<head>
    <title>No connection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <style>
        body {
            padding-top: 120px;
            padding-left: 40px;
        }

        @media screen and (max-width:390px) {
            body {
                padding-top: 0px;
                padding-left: 0px;
            }
        }
    </style>
</head>
<body>
    <h1>Hmm...</h1>

    <p class="offlineMessage">It looks like you lost Internet connectivity.</p>

    <p class="supercacheMessage">That's okay! To work in offline mode, you need to run the application at least once while connected to the Internet.</p>
</body>
</html>
