<!DOCTYPE html>
<html>
<head>
    <title>Sin conexión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <style>
        body {
            padding-top: 120px;
            padding-left: 40px;
        }

        @media screen and (max-width:390px) {
            body {
                padding-top: 0px;
                padding-left: 0px;
            }
        }
    </style>
</head>
<body>
    <h1>Hmm...</h1>

    <p class="offlineMessage">Parece que se a perdido la conexión a Internet.</p>

    <p class="supercacheMessage">No hay problema! Para trabajar sin conexión necesitas correr la aplicación conectado a Internet al menos una vez.</p>
</body>
</html>
